<div class = "container">
    @using (Html.BeginForm("Index", "Audio", FormMethod.Post, new { enctype = "multipart/form-data"}))
    {
        <div class = "row">
            <div class = "form-group col-md-6">
                <input type="file" class = "form-control" name = "myFile"/>
            </div>
            <div class = "form-group col-md-6">
                <button type="submit" name ="filesubmit" value="Upload">Upload</button>
            </div>
        </div>        
    }
</div>

