@{
    ViewData["Title"] = "Audio";
}

<form>    
    <p>Select the audio file to upload</p>
    <input type = "file" id ="fileSelect" accept="audio/*"/>
    <button type="submit" id ="btnSubmit" onclick="Upload()">Upload</button>

    <script>
      function myFunction() {
        //Write your function here to upload it to Amazon S3
        
      }
    </script>
</form>
