

@{
    ViewData["Title"] = "Dr Transcribe";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Doctor Transcribe</h1>
   <a href="https://localhost:44352/medicalEntities/processAudioFile/NewestEyePainRecording.mp3">Demo</a>
</div>
